@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Roboto&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Fira Sans', sans-serif !important;
    /* font-family: 'Roboto', sans-serif !important; */
}

.fab, .fas{
    font-family: 'FontAwesome';
    font-size: 1em;
}

.img-thumbnails{
    /* width: 100%;
    min-height: 100%; */
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    padding-bottom: 0.5em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}


/* STYLE: nav for small screens START*/
#check{
    display: none;
}
.nav-small-collapsed{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: white;
    transition: 0.5s;
    transition: top 0.5s ease-out;
}
.nav-small-collapsed .website-logo{
    color: #bbb;
    font-size: 2em !important;
    margin-left: 1em;
}
#last-name-orange{
    color: orange;
}
#menu, #cancel{
    position: fixed;
    right: 20px;
    top: 2%;
    color: #bbb;
    font-size: 25px;
    cursor: pointer;
    padding: 0 8.67px;
    background-color: white;
}
#cancel{
    display: none;
}
.nav-expanded{
    position: fixed;
    left: -500px;
    width: 80vw;
    height: 100vh;
    transition: 0.5s;
    padding-left: 2em;
    overflow-y: auto;
    background-color: white;
}
.nav-expanded .website-logo{
    color: #bbb;
    font-size: 2em !important;
    margin-bottom: 0.8em;
}
.nav-expanded .nav-link{
    color: #bbb;
    font-size: 17px;
    width: min-content;
}
.nav-expanded .nav-link.active{
    color: orange;
}
.nav-expanded .nav-link:hover{
    color: orange;
}
.nav-expanded .social-icons span:hover{
    color: orange;
}
.nav-expanded .social-icons{
    margin-top: 40px;
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-expanded .social-icons span{
    font-size: 25px;
    color: #ccc;
}
.nav-expanded #copyright{
    color: #bbb;
    margin-top: 30px;
    font-size: 12px;
}
.content{
    position: relative;
    left: 0;
    top: 80px;
    margin-left: 1%;
    transition: 0.5s;
}
#check:checked ~ .nav-expanded{
    left: 0;
    z-index: 101;
}
#check:checked ~ div label #menu{
    display: none;
    pointer-events: none;
}
#check:checked ~ div label #cancel{
    display: block;
}
#check:checked ~ .content{
    left: 80vw;
    opacity: 0.6;
}
#check:checked ~ .nav-small-collapsed{
    background-color: transparent;
}
/* STYLE: nav for small screens END*/

/* nav for small screen */
@media only screen and (max-width: 768px){
   .nav-large{
       display: none;
   }
}

/* nav for large screen */
@media only screen and (min-width: 768px){
    body{
        display: flex;
    }
    .nav-small-collapsed{
        display: none;
    }
    .nav-expanded{
        position: static;
        flex: 0 0 230px;
    }
    .nav-expanded .website-logo{
        font-size: 1.5em !important;
    }
    .nav-expanded .page-links .nav-link{
        font-size: 15px;
        padding: 0.3em 0;
    }
    .nav-expanded .social-icons{
        position: relative;
        top: 30%;
    }
    .nav-expanded .social-icons .nav-link{
        margin-right: 1.5em;
        padding: 0.5em 0;
    }
    .nav-expanded .social-icons span{
        font-size: 11px;
    }
    .nav-expanded #copyright{
        position: relative;
        top: 25%;
    }
    .content{
        position: static;
        flex: 1;
        height: 100vh;
        overflow-y: auto;
        margin-left: 1%;
    }
    #check:checked ~ .content{
        opacity: 1;
    }
 }
